doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block html_header
  body
    block content

  //script(src="/javascripts/jquery-1.9.0.min.js")
  block html_bottom
